@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-pink: #fbcfe8;
  --color-brand-hot: #f472b6;
  --color-brand-soft: #fff1f2;
}

body {
  @apply bg-brand-soft text-gray-800 font-sans;
}
